<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
        <div class="container">
            <a class="navbar-brand text-danger fw-bold text-uppercase" href="#">WORLD KART MASTER - Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home">Начална страница</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Privacy" asp-controller="Home">Тест</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Admin" asp-controller="Track">Админ Библиотека</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="TrackGallery" asp-controller="Track">Картинг Галерия</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Blogs" asp-controller="Blog">Блог</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакти</a></li>
                    <li class="nav-item"><a class="nav-link text-danger fw-bold" asp-action="Registration" asp-controller="User">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
        <div class="gtranslate_wrapper"></div>
        <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"languages":["en","bg","de"],"wrapper_selector":".gtranslate_wrapper"}</script>
        <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
