<!DOCTYPE html>
<html lang="bg">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div>
        @RenderBody()
        <div class="gtranslate_wrapper"></div>
        <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"languages":["en","bg","de"],"wrapper_selector":".gtranslate_wrapper"}</script>
        <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
