@model WorldKartIdentity.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Вход";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/loginregistration.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/loginpage.js" asp-append-version="true"></script>
}

<div class="register-container">
    <h2>Вход</h2>

    <form asp-controller="User" asp-action="Login" method="post" id="loginForm">
        @Html.AntiForgeryToken()
        <div class="form-group em">
            <label>Имейл</label>
            <input asp-for="Email" type="email" class="email-field" name="Email" required />
            <span class="text-danger"></span>
        </div>
        <div class="form-group pass">
            <label>Парола</label>
            <input asp-for="Password" type="password" name="Password" required minlength="6" />
            <span class="text-danger"></span>
        </div>

        <div class="form-group d-flex justify-content-between align-items-center">
            <div>
                <input type="checkbox" id="rememberMe" />
                <label for="rememberMe">Запомни ме</label>
            </div>
            <a href="#" class="forgot-link">Забравена парола?</a>
        </div>

        <button type="submit" class="btn-login">Вход</button>

        <div class="form-footer">
            <p>Нямате акаунт? <a asp-controller="User" asp-action="Registration">Регистрация</a></p>
        </div>
    </form>
</div>
