@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aboutus.css" asp-append-version="true" />
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="~\img\LogoWKM - Copy.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <div class="bt-option">
                        <h2>За нас</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Class Details Section Begin -->
<section class="class-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-text">
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h3>▷ За нас – създателите на проекта</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua accusantium doloremque
                                laudantium. Excepteur sint occaecat cupidatat non proident sculpa.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="class-details-text">
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h3>▷ Какво представлява Световна Картинг Арена?</h3>
                            <p>
                                Световната Картинг Арена е онлайн платформа, създадена специално за картинг състезатели и любители на моторните спортове.
                                Идеята ѝ е да обедини в едно място анализa на писти, рисуването на траектории, споделянето на видеа и комуникацията 
                                между пилоти. Сайтът е създаден с мисията да помогне на състезателите да се подготвят по-добре за нови писти, 
                                да подобрят техниката си на каране и да обменят опит с други пилоти от различно ниво.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="class-details-text">
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h3>▷ Библиотека с писти и анализ на трасета</h3>
                            <p>
                                В платформата ще откриете богата библиотека с картинг писти, всяка от които съдържа подробна информация, 
                                описание и визуализация на трасето. Там потребителите могат:<br/>
                                -> да разглеждат различни писти;<br />
                                -> да се запознаят с конфигурацията на завоите;<br />
                                -> да анализират трудните участъци;<br />
                                -> да се подготвят предварително за състезания на непознати трасета;<br />
                                -> възможност за заявка на друга писта, която не се състои в платформата;<br />
                                което дава сериозно предимство при подготовката и изграждането на състезателна стратегия.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="class-details-text">
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h3>▷ Рисуване и споделяне на траектории</h3>
                            <p>
                                Една от най-иновативните функции на WorldKartIdentity е възможността за рисуване на състезателни траектории 
                                директно върху визуализация на пистата. Потребителите могат:<br />
                                -> да създават свои собствени траектории;<br />
                                -> да запазват и споделят своите линии;<br />
                                -> да разглеждат и харесват траектории, създадени от други състезатели;<br />
                                -> да сравняват различни стилове на каране;<br />
                                Това позволява по-дълбоко разбиране на техниката, точките на спиране, апекса и изхода от завоите.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="class-details-text">
                    <div class="cd-text">
                        <div class="cd-single-item">
                            <h3>▷ Блог, общност и споделяне на видеа</h3>
                            <p>
                                WorldKartIdentity не е просто инструмент за анализ, а и общност. В платформата има:<br />
                                -> блог секция с публикации, съвети и анализи;<br />
                                -> възможност за споделяне на видеа от тренировки и състезания;<br />
                                -> къси клипове или снимки на изпредварвания;<br />
                                -> харесване на публикации на други потребители;<br />
                                По този начин състезателите могат да обменят знания, да обсъждат стратегии и да се учат един от друг.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Class Details Section End -->