@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Изгради перфектното <br> състезателно изживяване</h1>
        <p class="lead">Усети скоростта, виж пистата, опознай траекторията, присъедини се към общността, състезавай се за слава.</p>
    </div>
</section>
