@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Build Perfect <br> Racing Experience</h1>
        <p class="lead">Feel the speed, see the track, know the line, join the community, race for glory.</p>
    </div>
</section>
