/*Breadcrumb Section*/
.breadcrumb-section {
    height: 280px;
    padding-top: 120px;
    background: #151515;
}

.breadcrumb-text h2 {
    font-size: 60px;
    color: #DC3545;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.breadcrumb-text .bt-option a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

    .breadcrumb-text .bt-option a:after {
        position: absolute;
        right: -14px;
        top: 6px;
        font-family: "FontAwesome";
        content: "";
        font-size: 13px;
        font-weight: 400;
    }

.breadcrumb-text .bt-option span {
    font-size: 18px;
    color: #DC3545;
    font-weight: 700;
}
/*Class Details Section*/

.class-details-section {
    background: #151515;
    padding-bottom: 60px;
    padding-top:40px;
}

.class-details-text .cd-pic {
    margin-bottom: 45px;
}

    .class-details-text .cd-pic img {
        min-width: 100%;
    }

.class-details-text .cd-text {
    margin-bottom: 33px;
}

    .class-details-text .cd-text .cd-single-item h3 {
        color: #DC3545;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 28px;
    }

    .class-details-text .cd-text .cd-single-item p {
        color: #c4c4c4;
    }

.class-details-text .cd-trainer .cd-trainer-pic img {
    min-width: 100%;
}

.class-details-text .cd-trainer .cd-trainer-text {
    position: relative;
}

    .class-details-text .cd-trainer .cd-trainer-text .trainer-title {
        margin-bottom: 18px;
    }

        .class-details-text .cd-trainer .cd-trainer-text .trainer-title h4 {
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 6px;
        }

        .class-details-text .cd-trainer .cd-trainer-text .trainer-title span {
            font-size: 12px;
            color: #aaaaaa;
            text-transform: uppercase;
        }

    .class-details-text .cd-trainer .cd-trainer-text .trainer-social {
        position: absolute;
        right: 0;
        top: 20px;
    }

        .class-details-text .cd-trainer .cd-trainer-text .trainer-social a {
            display: inline-block;
            font-size: 14px;
            color: #c4c4c4;
            margin-right: 9px;
        }

            .class-details-text .cd-trainer .cd-trainer-text .trainer-social a:last-child {
                margin-right: 0;
            }

    .class-details-text .cd-trainer .cd-trainer-text p {
        color: #c4c4c4;
    }

    .class-details-text .cd-trainer .cd-trainer-text .trainer-info {
        margin-top: 28px;
        margin-bottom: 26px;
    }

        .class-details-text .cd-trainer .cd-trainer-text .trainer-info li {
            font-size: 14px;
            color: #c4c4c4;
            list-style: none;
            padding-bottom: 8px;
            border-bottom: 1px solid #252525;
            margin-bottom: 10px;
        }

            .class-details-text .cd-trainer .cd-trainer-text .trainer-info li:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }

            .class-details-text .cd-trainer .cd-trainer-text .trainer-info li span {
                color: #ffffff;
                font-weight: 700;
                width: 150px;
                display: inline-block;
            }
