body {
    background: linear-gradient(135deg, #0a1d3b, #0f2e5d);
    font-family: Arial, sans-serif;
}

.register-container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

    .register-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }


.btn-register {
    width: 100%;
    padding: 12px;
    background: #DC3545;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

    .btn-register:hover {
        opacity: 0.9;
    }

.form-footer {
    text-align: center;
    margin-top: 15px;
}

    .form-footer a {
        color: #DC3545;
        text-decoration: none;
        font-weight: bold;
    }

        .form-footer a:hover {
            text-decoration: underline;
        }




.login-container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 14px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

        .form-group input:focus {
            border-color: #1cc88a;
            box-shadow: 0 0 6px rgba(28, 200, 138, 0.6);
            outline: none;
        }

.btn-login {
    width: 100%;
    padding: 12px;
    background: #DC3545;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

    .btn-login:hover {
        opacity: 0.9;
    }

.forgot-link {
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

    .forgot-link:hover {
        text-decoration: underline;
    }

/*ново*/
#mapPreviewContainer {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}

    #mapPreviewContainer iframe {
        width: 100%;
        height: 400px;
        border: 0;
        border-radius: 8px;
    }
