html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.result-dialog {
    display: flex;
    margin: 10px auto;
    position: fixed;
    width: fit-content;
    max-width: 35em;
    padding: 12px 1.2em;
    border-radius: 6px;
    box-shadow: 0 0 15px 5px #50505073;
    transition: all 0.4s;
    border: none;
    &[open]

{
    opacity: 1;
    top: 0;

    @starting-style {
        opacity: 0;
        top: -120px;
    }
}

&:not([open]) {
    opacity: 0;
    top: -120px;
}
}


.track-link :hover {
    color: #DC3545;
}