body {
    background: #2b2b2b;
}

h1, h2, h4 {
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

/* Search Bar */
.input-group input {
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    border: 2px solid #eee;
}

.input-group button {
    border-radius: 0 30px 30px 0;
    padding: 10px 25px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DC3545;
    --bs-btn-border-color: #DC3545;
    --bs-btn-hover-color: #DC3545;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #DC3545;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #DC3545;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}


/* Cards */
.classes-section {
    background: #2b2b2b;
    padding-bottom: 80px;
}

    .classes-section .section-title {
        margin-bottom: 35px;
    }

.class-item {
    overflow: hidden;
    margin-bottom: 30px;
}

    .class-item .ci-pic img {
        min-width: 100%;
    }

    .class-item .ci-text {
        background: #0a0a0a;
        position: relative;
        padding: 10px 30px 26px 30px;
        z-index: 1;
    }

        .class-item .ci-text:after {
            position: absolute;
            left: -5px;
            top: -44px;
            height: 100px;
            width: 600px;
            border-top: 4px solid #464646;
            background: #0a0a0a;
            content: "";
            -webkit-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            z-index: -1;
        }

        .class-item .ci-text span {
            color: #DC3545;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .class-item .ci-text h5 {
            font-size: 17px;
            color: #ffffff;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 4px;
        }

        .class-item .ci-text h4 {
            font-size: 26px;
            color: #ffffff;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 4px;
        }

        .class-item .ci-text a {
            display: inline-block;
            width: 46px;
            height: 46px;
            background: rgba(255, 255, 255, 0.1);
            line-height: 46px;
            text-align: center;
            font-size: 24px;
            color: #ffffff;
            position: absolute;
            right: 30px;
            bottom: 26px;
        }
