@model List<WorldKartIdentity.ViewModel.TrackViewModel>


@{
    ViewData["Title"] = "TrackGallery";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<div class="text-center mt-5">
    <h1 class="display-4">Галерия с картинг писти</h1>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/trackgallery.css" asp-append-version="true" />
}

@* Search Bar *@
<div class="d-flex justify-content-center mt-4 mb-4">
    <form method="get" asp-action="TrackGallery" class="input-group w-50">
        <input type="text" name="search" class="form-control" placeholder="Търсене на писта..." />
        <button type="submit" class="btn btn-primary">Търси</button>
    </form>
</div>

@* Track Cards *@

<section class="classes-section spad">
    <div class="container">
        <div class="row">
            @foreach (var track in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <a asp-controller="Track" asp-action="TrackDetails" asp-route-id="@track.Id">
                            <img src="data:image/jpeg;base64,@track.PictureBase64"
                            class="card-img-top"
                            style="height:280px; object-fit:cover; border-top-left-radius:20px;" />
                        </a>
                        <div class="ci-text">
                            <span>@track.Name</span>
                            <h5>@track.Length метра</h5>
                            <i class="fa fa-angle-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form method="post" asp-action="ToggleLike" asp-controller="Track" >
                                        <input type="hidden" name="trackId" value="@track.Id" />  @* koe e po dobre: tova ili asp-route *@
                                        <button type="submit" class="like-btn">
                                            @if (track.IsLikedByCurrentUser)
                                            {
                                                <i class="fa fa-heart" aria-hidden="true" style="color:red;" ></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-heart-o" aria-hidden="true" style="color:red;"></i>
                                            }
                                        </button>
                                    </form>
                                }
                            </i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
